@media (max-width: 76em) {
  .search-box input {
    padding-right: 10rem;
  }
}

@media (max-width: 69em) {
  .search-box input {
    padding-right: 4rem;
  }

  .menu {
    padding: 1.2rem 2rem;
  }

  .navbar-input {
    gap: 2rem;
  }
}

@media (max-width: 64em) {
  .navbar {
    gap: 2rem;
  }

  .logo img {
    width: 100%;
  }

  .search-bar {
    flex-grow: 1;
    justify-content: start;
  }

  .search-box {
    flex-grow: 1;
  }

  .search-box input {
  }

  .menu {
    padding: 1.2rem 2rem;
  }

  .navbar-input {
    display: none;
  }

  .text-flex {
    gap: 0.6rem;
  }

  .post-navbar .post-btn {
    padding: 1rem 1.6rem;
  }
  .content-row {
    grid-template-columns: 9fr;
  }
}

@media (max-width: 57em) {
  .secondary-menu {
    gap: 1.6rem;
  }
}
